<div class="paddingTwo">
    <div class="grid">
        <div class="title-header">PG Admin</div>
    </div>
</div>
<div class="pgClass">
    <div class="label-subheader-main">PG selection</div>
    <div class="grid">
        <div class="col-3">
            <p-dropdown [options]="assignedPgs" [(ngModel)]="selectedPg" optionLabel="name"
                (onClick)="getGopArray(selectedPg.pgId)" (onClick)="changeCommodity()"></p-dropdown>
        </div>
        <div class="ml-4"></div>
        <div class="dot"></div>
        <div class="ml-4"></div>
        <div class="dashboardLink">Go to Price list dashboard</div>
    </div>
    <div class="mt-4">
        <p-tabView (onChange)="changeTab($event)">
            <p-tabPanel header="Group of ports / TAD"></p-tabPanel>
            <p-tabPanel header="PG infos"></p-tabPanel>
            <p-tabPanel header="Commodities"></p-tabPanel>
        </p-tabView>
        <!-- <div class="line mt-2"></div> -->
    </div>
    <div class="mt-2" style="background: var(--white);">
        <div *ngIf="isTabOpen[0]">
            <div class="container">
                <div class="loading col-6">
                    <div class="grid">
                        <div class="col-10">LOADING GOP / TAD</div>
                        <div class="col-2 history"
                            (click)="getGopHistory('LOADING', loadingGopArray[0]?.pricingGroupId)">History
                            <em class="pi pi-book"></em>
                        </div>
                    </div>
                    <div style="height: 17em;">
                        <div class="grid mt-2 rectangleArray" *ngIf="loadingGopArray?.length"
                            [ngClass]="{'heightAndOverflow' : loadingGopArray.length > 10}">
                            <div class="col-6" style="display: flex;" *ngFor="let item of loadingGopArray">
                                <input readonly class="first" type="text" pInputText [value]="item.groupOfPortName">
                                <div class="icons" style="border-right: none;"><em class="pi pi-eye" (click)="openGopSidebar('VIEW')"></em></div>
                                <div class="icons"><em class="pi pi-pencil" (click)="openGopSidebar('EDIT')"></em></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vl"></div>
                <div class="discharging col-6">
                    <div class="grid">
                        <div class="col-10">DISCHARGE GOP / TAD</div>
                        <div class="col-2 history"
                            (click)="getGopHistory('DISCHARGE', dischargeGopArray[0].pricingGroupId)">History
                            <em class="pi pi-book"></em>
                        </div>
                    </div>
                    <div style="height: 17em;">
                        <div class="grid mt-2 rectangleArray" *ngIf="dischargeGopArray?.length"
                            [ngClass]="dischargeGopArray.length > 10 ? 'heightAndOverflow':''">
                            <div class="col-6" style="display: flex;" *ngFor="let item of dischargeGopArray">
                                <input readonly class="first" type="text" pInputText [value]="item.groupOfPortName">
                                <div class="icons" style="border-right: none;"><em class="pi pi-eye" (click)="openGopSidebar('VIEW')"></em></div>
                                <div class="icons"><em class="pi pi-pencil" (click)="openGopSidebar('EDIT')"></em></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line1 mx-6"></div>
            <div class="buttonContainer grid">
                <div class="col-9"></div>
                <div class="col-3">
                    <button type="button" pButton label="Create GOP / TAD" class="p-button-danger"
                        (click)="openGopSidebar('CREATE')"></button>
                    <button type="button" pButton label="Cancel" class="p-button-secondary ml-4"
                        [routerLink]="'/home'"></button>
                </div>
            </div>
        </div>
        <div *ngIf="isTabOpen[1]">
            <app-pg-info [selectedPg]="selectedPg"></app-pg-info>
        </div>
        <div *ngIf="isTabOpen[2]">
            <app-commodities [selectedPg]="selectedPg"></app-commodities>
        </div>
    </div>
</div>

<p-sidebar [(visible)]="isHistoryOpen" [baseZIndex]="3000" position="right" [style]="{'width':'40%'}">
    <div class="mb-6 historySidebar">
        <div class="title-sub-header">{{gopType}} GOP / TAD history</div>
        <div class="mt-4 historyContainer">
            <div *ngFor="let item of history" [ngClass]="{'noScroll': history?.length > 13}">
                <div class="line1 mb-2"></div>
                <div>{{item.date | date: 'dd-MMM-yy'}}/{{item.time}} | {{item.user}} / {{item.content}}</div>
                <div class="line1 mt-2"></div>
            </div>
        </div>
    </div>
    <div class="line"></div>
    <div class="p-grid btn">
        <button type="button" pButton label="Close" class="col-offset-10 p-button-secondary"
            (click)="isHistoryOpen = false"></button>
    </div>
</p-sidebar>

<p-sidebar [(visible)]="gopSidebar" (onHide)="gopSidebar = false" class="gopSidebar" [baseZIndex]="3000" position="right" [style]="{'width':'70%'}">
    <div class="title-sub-header" *ngIf="operationType === 'CREATE'">New group of port / TAD</div>
    <div class="title-sub-header" *ngIf="operationType === 'EDIT'">Edit group of port / TAD</div>
    <div class="title-sub-header" *ngIf="operationType === 'VIEW'">View group of port / TAD</div>
    <div class="mt-5" style="display: flex;">
        <span>
            <p-radioButton name="gopType" [disabled]="operationType === 'VIEW'" value="loading" label="Loading ports group" [(ngModel)]="gopTypeRadio">
            </p-radioButton>
        </span>
        <div class="ml-4">
            <p-radioButton name="gopType" [disabled]="operationType === 'VIEW'" value="discharging" label="Discharge ports group" [(ngModel)]="gopTypeRadio">
            </p-radioButton>
        </div>
        <div class="vl1"></div>
        <span>
            <p-radioButton name="eqpType" [disabled]="operationType === 'VIEW'" value="dry" label="Dry" [(ngModel)]="eqpTypeRadio"></p-radioButton>
        </span>
        <div class="ml-4">
            <p-radioButton name="eqpType" [disabled]="operationType === 'VIEW'" value="reefer" label="Reefer" [(ngModel)]="eqpTypeRadio"></p-radioButton>
        </div>
    </div>
    <div class="line1 mt-4"></div>
    <div class="mt-4">
        <div class="grid">
            <div class="col-4">Country</div>
            <div class="col-4">Ports</div>
            <div class="col-4">GOP / TAD name</div>
        </div>
        <div class="grid">
            <div class="col-4">
                <p-autoComplete class="testClass" [(ngModel)]="countries" [suggestions]="countrySuggestion"
                    [dropdown]="true" (completeMethod)="getCountries($event)" [multiple]="true"
                    placeholder="Select a country" dropdownIcon="pi pi-search" [disabled]="operationType === 'VIEW'">
                    <ng-template let-country pTemplate="item">
                        <div>{{country.name}}</div>
                    </ng-template>
                    <ng-template let-country pTemplate="selectedItem">
                        <div>{{country.name}}</div>
                    </ng-template>
                </p-autoComplete>
            </div>
            <div class="col-4">
                <input type="text" pInputText class="box1" [disabled]="operationType === 'VIEW'" (keyup)="getPorts()" [(ngModel)]="portFromUser">
                <p-multiSelect [options]="portSuggestion" [(ngModel)]="ports" class="overlay" [disabled]="operationType === 'VIEW'"
                    dropdownIcon="pi pi-search" (onClick)="getPorts()" optionLabel="name"
                    [overlayVisible]="isPortDropOpen" scrollHeight="120px" [showHeader]="false"
                    (onPanelHide)="getTableData()">
                    <ng-template let-port pTemplate="item">
                        <div>{{port.name}} ({{port.code}})</div>
                    </ng-template>
                </p-multiSelect>
            </div>
            <div class="col-4">
                <input type="text" [(ngModel)]="gopName" [disabled]="operationType === 'VIEW'" pInputText placeholder="Type a new name (max. 20 characters)"
                    oninput="this.value = this.value.toUpperCase()">
            </div>
        </div>
    </div>
    <div class="line1 mt-2"></div>
    <div class="mt-2 mr-1 grid">
        <span class="ml-auto dashboardLink" [ngClass]="{'blue12': !selectedProducts3?.length}">Delete</span>
    </div>
    <div style="height: 17em;overflow-y: scroll;" class="table">
        <p-table [value]="tableArray" [columns]="col" [(selection)]="selectedProducts3" responsiveLayout="scroll">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width: 3rem" scope="col">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th *ngFor="let col of columns" [attr.colspan]="col.colSpan" [style.text-align]="col.align"
                        scope="col">
                        <span>{{col.header}}</span>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-columns="columns" let-rowIndex="rowIndex">
                <tr>
                    <td>
                        <p-tableCheckbox></p-tableCheckbox>
                    </td>
                    <td *ngFor="let col of columns" [attr.colspan]="col.colSpan" [style.text-align]="col.align">
                        <span *ngIf="col.field === 'port'">{{product[col.field]}}</span>
                        <p-inputSwitch *ngIf="col.field === 'mainPort'" [(ngModel)]="product['mainPort']"
                            (onChange)="toggleInputSwitch(rowIndex)"></p-inputSwitch>
                        <span *ngIf="col.field === 'twentyrf'">
                            <input *ngIf="!product['mainPort'] && product['twentyrf']" style="width: 35%;" type="text"
                                pInputText [value]="product['twentyrf']">
                            <span *ngIf="!product['twentyrf']">--</span>
                        </span>
                        <span *ngIf="col.field === 'fortyrh'">
                            <input *ngIf="!product['mainPort'] && product['fortyrh']" style="width: 35%;" type="text" pInputText>
                            <span *ngIf="!product['fortyrh']">--</span>
                        </span>
                        <p-calendar *ngIf="col.field === 'validFrom' && !product['mainPort']"
                            [(ngModel)]="tableCalendarValidFrom"></p-calendar>
                        <p-calendar *ngIf="col.field === 'validTo' && !product['mainPort']"
                            [(ngModel)]="tableCalendarValidFrom"></p-calendar>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="buttonContainer grid" style="padding-bottom: 6.5em;">
        <div class="col-9"></div>
        <div class="col-3">
            <button *ngIf="operationType !== 'VIEW'" type="button" pButton label="Create" class="p-button-danger"
                (click)="createGOP()"></button>
            <button type="button" pButton label="Cancel" class="p-button-secondary ml-4"
            (click)="gopSidebar = false"></button>
        </div>
    </div>
</p-sidebar>

<p-toast key="pgAdmin" position="bottom-right"></p-toast>