@import 'src/assets/mixins.scss';
@import 'src/styles.scss';

.paddingTwo {
  padding: 2rem 3rem 1rem;
}

.pgClass {
  background: #EEEEEE;
  padding: 1em 2.7em;
}

.dashboardLink {
  line-height: 3.3;
  color: var(--blue7);
  text-decoration: underline;
  cursor: pointer;
}

.dot {
  background: var(--blue12);
  height: 5px;
  width: 5px;
  border-radius: 50%;
  position: relative;
  top: 1.5em;
}

.line {
  border-bottom: 1px solid black;
}

.line1 {
  border-bottom: 1px solid lightgrey;
}

.container {
  padding: 3em 2em;
  display: flex;

  .heightAndOverflow {
    height: 17em;
    overflow-y: scroll;
  }
}

.buttonContainer {
  padding: 1.5em 3em 1.5em;
  display: flex;
  text-align: right;
}

.vl {
  border-left: 1px solid lightgrey;
}

.vl1 {
  border-left: 1px solid lightgrey;
  margin: 0 2rem;
  height: 1.8rem;
}

.history {
  color: var(--blue7);
  text-align: end;
  font-weight: normal;
  cursor: pointer;
}

.loading,
.discharging {
  padding: 1em;
  color: var(--blue1);
  font-weight: bold;
}

.rectangleArray {
  font-weight: normal;
}

.zeroMarginTop {
  margin-top: 0;
}

.first {
  border: 1px solid var(--blue1);
  border-right: none;
  cursor: default;
}

.icons {
  border: 1px solid var(--blue1);
  border-left: none;
  display: flex;
  justify-content: center;
  width: 12.6%;
  padding: 0.6em;
}

.historySidebar {
  padding: 3.5rem 0 0 3.5rem;
}

.historyContainer {
  height: 30em;
  overflow-y: scroll;
}

.btn {
  padding: 1rem;
}

@include deep {
  .p-radiobutton {
    .p-radiobutton-box {
      .p-radiobutton-icon {
        background-color: var(--blue1);
      }
    }

    .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
      border-color: var(--blue1);
      background: var(--white);
    }

    .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
      border-color: #ced4da;
    }

    .p-radiobutton-box:not(.p-disabled).p-focus {
      box-shadow: none;
      border-color: var(--blue1);
    }

    .p-radiobutton-box.p-highlight {
      border-color: var(--blue1);
      background: var(--white);
    }
  }

  .gopSidebar .p-sidebar {
    padding: 4rem 2rem 0 3rem;
  }

  .p-sidebar {
    .p-sidebar-header+.p-sidebar-content {
      overflow: hidden;
    }

    .p-sidebar-header .p-sidebar-icon {
      display: none;
    }
  }

  .p-button.p-button-secondary,
  .p-button.p-button-secondary:enabled:hover {
    color: var(--red);
    background: var(--white);
    border: 1px solid var(--red);
  }

  .p-inputtext {
    color: var(--blue1);
    width: 100%;
    border-radius: 0;
    text-overflow: ellipsis;
    border: 1px solid var(--blue1);
  }

  .p-inputtext:enabled:focus,
  .p-button.p-button-danger:enabled:focus,
  .p-button.p-button-secondary:enabled:focus {
    box-shadow: none;
  }

  .p-inputtext:enabled:hover {
    border-color: var(--blue1);
  }

  .p-dropdown {
    border-radius: 0;
    border: 1px solid var(--blue1);
  }

  .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    font-weight: bold;
  }

  .p-dropdown:not(.p-disabled).p-focus {
    box-shadow: none;
  }

  .p-tabview {
    .p-tabview-panels {
      display: none;
    }

    .p-tabview-nav {
      background: #EEEEEE;
      border-bottom: 1px solid lightgrey;
      padding-bottom: 0.5em;

      li {
        width: 10em;
        height: 5em;
        margin-right: 1em;

        .p-tabview-nav-link {
          color: var(--blue1);
        }

        .p-tabview-nav-link:not(.p-disabled):focus {
          box-shadow: none;
        }
      }

      li.p-highlight .p-tabview-nav-link {
        color: var(--blue1);
        border-color: var(--red);
      }

      li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
        color: var(--blue1);
        border-color: var(--white);
        border: none;
        height: 4.85em;
      }

      .p-tabview-nav-link {
        height: 5em;

        .p-tabview-title {
          padding: 1rem 0.5rem 1rem 1.2rem;
          white-space: normal;
        }
      }
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
}

.noScroll::-webkit-scrollbar {
  display: none;
}

l::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--blue1);
  border-radius: 5px;
}

@include deep {
  .p-multiselect {
    width: 102%;
    .p-multiselect-trigger {
      z-index: 2;
    }
    .p-multiselect-panel {
      min-width: 103%;
      max-width: 103%;
      .p-multiselect-items .p-checkbox {
        position: absolute;
        right: 0;
      }
    }
  }
  .p-autocomplete-dd .p-autocomplete-multiple-container {
    flex-wrap: unset;
  }
    .p-autocomplete {
      width: 100%;
      .p-autocomplete-panel {
        max-width: 100%;
      }
      .p-autocomplete-multiple-container:not(.p-disabled).p-focus {
        box-shadow: none;
      }
      .p-autocomplete-multiple-container, .p-autocomplete-multiple-container:not(.p-disabled):hover {
        border-color: var(--blue1);
        .p-autocomplete-token {
          background: var(--blueLite1);
          .p-autocomplete-token-icon {
            color: var(--blue1);
          } 
        }
      }
      .p-button {
        background: var(--white);
        border-left: none;
        border-color: var(--blue1);
        border-radius: 0;
        color: var(--blue1);
        &:enabled:hover {
          background: var(--white);
          color: var(--blue1);
          border-color: var(--blue1);
        }
      }
      .p-inputtext {
        border-right: none;
      }
    }
}

.overlay {
  position: relative;
  margin-left: -0.3em;
}
.box1 {
  position: absolute;
  width: inherit;
  z-index: 2;
  margin-left: -0.3em;
}
