@import 'src/assets/mixins.scss';
@import 'src/styles.scss';

.commodities {
    padding: 4em 2em 1em 2em;
    .header {
        justify-content: space-between;
    }
    .h1 {
        font-size: 16px;
        color: var(--blue1);
        font-weight: 700;
        padding-left: 0.5em;
    }
    .history {
        color: var(--blue7);
        cursor: pointer;
    }
    .commod1 {
        height: 17em;
        overflow-y: scroll;
    }
    .btnContainer {
        text-align: right;
        margin-top: 2em;       
    }
    .blurColor {
        color: var(--blue12);
    }

    @include deep {
        .commd {
            .p-inputgroup {
                input:first-child {
                    border-radius: 0;
                    border-right: none;
                    &.blurText {
                        color: var(--blue12);
                    }
                }
                .p-inputgroup-addon {
                    background-color: var(--white);
                    &.chevronDown, &.pencil {
                        border-color: black;
                        border-left: none;
                        border-radius: 0;
                    }
                    &.deleted {
                        border-color: black;
                        font-style: italic;
                        color: var(--blue12);
                    }
                }
            } 
        }
        .btnContainer {
            .createBtn  {
                background-color: var(--red);
                border-color: var(--red);
            }   
            .cancelBtn  {
                margin-left: 1em;
                background-color: var(--white);
                border-color: var(--red);
                color: var(--red);
            }   
        }
    } 
}