<div class="grid grid-nogutter header-div">
    <div class="col-11">
        <a href="https://github.com/kpjaseem/" target="_blank" style="cursor: pointer;"><img src='assets/images/logo-{{selectedCarrier.carrier}}.png'
                alt="No img found" class="logoStyle"></a>
    </div>
    <div class="col-1 alignRight">
        <button pButton type="button" label="KP" class="buttonStyle" (click)="toggleSidebar(true)">
        </button>
        <!-- <div class="user-dot"></div> -->
    </div>
</div>
<div class="line mt-2"></div>

<p-sidebar [(visible)]="isSidebarOpen" position="right" [style]="{width:'30%'}" [transitionOptions]="'300ms'"
    [showCloseIcon]="false">
    <div class="grid sidebarWidth">
        <div class="col-12 flexDisplay">
            <div class="col-10 marginAuto">
                <em class="pi pi-times closeIcon" (click)="toggleSidebar(false)"></em>
            </div>
            <div class="col-2">
                <button pButton type="button" label="KP" class="buttonStyle">
                </button>
            </div>
        </div>
    </div>
    <div class="grid sidebarWidth">
        <div class="col-12 namePlate">
            <div class="mt-4 ml-3 name">Jaseem KP</div>
        </div>
    </div>
    <div class="sidebarWidth">
        <div [ngClass]="isUserInfoOpen ? 'changeColorOnChevronDown' : ''">
            <div class="col-12 flexDisplay" (click)="toggleChevron('userInfo')">
                <div class="flexDisplay">
                    <img src="assets/images/user-info.jpg" alt="image not found" class="imageStyle">
                    <div class="userInfo">My user info</div>
                </div>
                <div class="autoMargin">
                    <em class="paddingOne" [ngClass]="isUserInfoOpen ? 'pi pi-chevron-up' : 'pi pi-chevron-down'"></em>
                </div>
            </div>
            <div *ngIf="isUserInfoOpen" class="col-12 mt-2 paddingOne">
                <div>Role : PRICER MANAGER</div>
                <div class="mt-2">Assigned PGs: </div>
                <div class="col-offset-3 mt-2" *ngFor="let item of assignedPgs">
                    - {{item}}
                </div>
            </div>
        </div>
        <div [ngClass]="isCarrierSelectionOpen ? 'changeColorOnChevronDown' : ''">
            <div class="col-12 flexDisplay" (click)="toggleChevron('carrierSelection')">
                <div class="flexDisplay">
                    <img src="assets/images/carrier.jpg" alt="image not found" class="imageStyle">
                    <div class="userInfo">Carrier selection</div>
                </div>
                <div class="autoMargin">
                    <em class="paddingOne"
                        [ngClass]="isCarrierSelectionOpen ? 'pi pi-chevron-up' : 'pi pi-chevron-down'"></em>
                </div>
            </div>
            <div *ngIf="isCarrierSelectionOpen" class="col-12 mt-2 paddingOne">
                <p-dropdown [options]="carrierOptions" [(ngModel)]="selectedCarrier" optionLabel="code"></p-dropdown>
            </div>
        </div>
        <div [ngClass]="isPgOpen ? 'changeColorOnChevronDown' : ''">
            <div class="col-12 flexDisplay" (click)="toggleChevron('pg')">
                <div class="flexDisplay">
                    <img src="assets/images/pg.jpg" alt="image not found" class="imageStyle">
                    <div class="userInfo">PG Admin</div>
                </div>
                <div class="autoMargin">
                    <em class="paddingOne" [ngClass]="isPgOpen ? 'pi pi-chevron-up' : 'pi pi-chevron-down'"></em>
                </div>
            </div>
            <div *ngIf="isPgOpen" class="col-12 mt-2 paddingOne">
                Hello
            </div>
        </div>
        <div [ngClass]="isUserPreferenceOpen ? 'changeColorOnChevronDown' : ''">
            <div class="col-12 flexDisplay" (click)="toggleChevron('preference')">
                <div class="flexDisplay">
                    <img src="assets/images/preference.jpg" alt="image not found" class="imageStyle">
                    <div class="userInfo">User preferences</div>
                </div>
                <div class="autoMargin">
                    <em class="paddingOne"
                        [ngClass]="isUserPreferenceOpen ? 'pi pi-chevron-up' : 'pi pi-chevron-down'"></em>
                </div>
            </div>
            <div *ngIf="isUserPreferenceOpen" class="col-12 mt-2 paddingOne">
                Hello
            </div>
        </div>
        <div [ngClass]="isLogOutOpen ? 'changeColorOnChevronDown' : ''">
            <div class="col-12 flexDisplay" (click)="toggleChevron('')">
                <div class="flexDisplay">
                    <img src="assets/images/logOut.jpg" alt="image not found" class="imageStyle">
                    <div class="userInfo">Log Out</div>
                </div>
                <div class="autoMargin">
                    <em class="paddingOne" [ngClass]="isLogOutOpen ? 'pi pi-chevron-up' : 'pi pi-chevron-down'"></em>
                </div>
            </div>
            <div *ngIf="isLogOutOpen" class="col-12 mt-2 paddingOne">
                Hello
            </div>
        </div>
    </div>
</p-sidebar>