@import 'src/assets/mixins.scss';
@import 'src/styles.scss';

.header-div {
    margin-top: 0.75em;
    margin-right: 30px;
}
.logoStyle {
    width: 9em;
    height: 4.5em;
}
.alignRight {
    text-align: right;
    margin-top: 5px;
}
.buttonStyle {
    height: 3em;
    width: 3em;
    border-radius: 50%;
    font-size: 1.4em;
    color: cornflowerblue !important;
    background-color: white !important;
}
.line {
    border-bottom: 1px solid lightgray;
}
.user-dot {
    width: 0.5em;
    height: 0.5em;
    position: relative;
    background-color: red;
    margin: -50% 88%;
    border-radius: 50%;
}
.sidebarWidth {
    margin: 0.5rem 0;
}
.marginAuto {
    margin: auto;
}
.namePlate {
    height: 6em;
    background-color: darkblue;
    border-top: 1px solid darkblue;
    border-bottom: 1px solid darkblue;
}
.name {
    font-size: 2em;
    color: var(--white);
}
.userInfo {
    font-size: 17px;
    padding: 1em;
    cursor: pointer;
}
.paddingOne {
    padding: 1em;
    cursor: pointer;
}
.closeIcon:hover {
    cursor: pointer;
    background-color: var(--amber);
}
.flexDisplay {
    display: flex;
}
.changeColorOnChevronDown {
    background-color: var(--blueLite3);
}
.autoMargin {
    margin-left: auto;
}
.imageStyle {
    width: 3em;
    height: 3em;
    cursor: pointer;
}

@include deep {
    .p-sidebar .p-sidebar-header {
        padding: 0;
        .p-sidebar-icon {
            right: 90%;
        }
    }    
    .p-sidebar .p-sidebar-content {
        padding: 0;
    }
    .p-dropdown {
        width: 100%;
    }
}