<div class="pgInfo">
    <div class="pgInfoContainer">
        <span class="pgName">{{selectedPg.name}}</span>
        <div class="infoBody grid">
            <div class="col-4">
                <p-dropdown [options]="pgScopeOption" [(ngModel)]="pgScope" placeholder="Pricing group scope"
                    optionDisabled="zol">
                    <ng-template pTemplate="item" let-pgScope>
                        <div *ngIf="pgScope.isNeeded">
                            <span>ZOL</span>
                            <span class="zod">ZOD</span>
                        </div>
                        <div class="grid">
                            <div class="col-5"><span>{{pgScope.zol}}</span></div>
                            <div class="col-2" style="padding-left: 1.5rem;"><em class="pi pi-chevron-right"
                                    style="float: right;"></em></div>
                            <div class="col-5"><span class="zod">{{pgScope.zod}}</span></div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
            <div class="col-4 golDrop">
                <p-dropdown [options]="golOption" (onClick)="golSuggestion()" [(ngModel)]="gol" optionLabel="gol"
                    placeholder="Group of lines" optionDisabled="gol"></p-dropdown>
            </div>
            <div class="col-4 spotPg">
                <p-checkbox [(ngModel)]="spotPg" label="Spot PG" [binary]="selectedPg.spotFlag ? true : false"
                    [disabled]="true"></p-checkbox>
            </div>
        </div>
        <div class="countryBody grid">
            <div class="col-4">
                <div class="countryHeader">
                    <div style="font-size: 20px">CUSTOMER COUNTRY</div>
                    <div class="history1">History&nbsp;<em class="pi pi-book"></em></div>
                </div>
                <div class="mt-4">
                    <div class="p-inputgroup">
                        <input type="text" pInputText value="Commercial zone / Country" readonly>
                        <span class="p-inputgroup-addon eye"><em class="pi pi-eye"
                                (click)="countrySidebar = true;operationType = 'VIEW'"></em></span>
                        <span class="p-inputgroup-addon pencil"><em class="pi pi-pencil"
                                (click)="countrySidebar = true; operationType = 'EDIT'"></em></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-sidebar [(visible)]="countrySidebar" [baseZIndex]="3000" position="right"
    [style]="{'width':'30%','padding':'3em 2em 2em'}">
    <div class="title-sub-header" *ngIf="operationType === 'EDIT'">Edit customer country</div>
    <div class="title-sub-header" *ngIf="operationType === 'VIEW'">View customer country selection</div>
    <div class="mt-6">
        <div class="countrySidebar">
            <label>Commercial zone / Country</label>
            <div class="p-inputgroup">
                <input type="text" pInputText placeholder="Select your commercial zone  or country">
                <span class="p-inputgroup-addon search"><em class="pi pi-search"></em></span>
            </div>
            <p-tree [value]="countryTree" selectionMode="checkbox" [(selection)]="selectedCountry"></p-tree>
        </div>
    </div>
</p-sidebar>